@using Wirly.web.Models

@model IEnumerable<Project>

@{
    ViewBag.Title = "Home";
}

<h2>Projects</h2>

<div class="panel panel-primary">
<ul>
@if(Model == null || !Model.Any())
{
    <li>No Projects for you</li>
}
else
{
    foreach (Project project in Model)
    {
        <li>
            @Html.ActionLink(project.Name, "Index", "Project", new { id = project.Id }, new { @class = "btn btn-xs" })
        </li>
    }
}

</ul>

  

</div>
