@model Wirly.web.Models.Project

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="#addFileModal" class="btn btn-info" data-toggle="modal">Add File</a>
            <ul id="projectFiles">
                @foreach(var file in Model.Files){
                   <li>
                       <a href="#">@file.Name</a>
                   </li>   
                  }
            </ul>
        </div>
        <div class="col-lg-8 col-md-8">
            <h2>@Model.Name</h2>

            @Html.Raw(Model.Body)
        </div>
    </div>
    <div class="modal fade" id="addFileModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Add File</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file">Name:</label>
                            <input type="text" name="fileName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="file" name="file" id="file" class="form-control" />
                        </div>
                        <input type="submit" class="btn btn-primary" />
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

</div>







