@model Wirly.web.Models.Project

@{
    ViewBag.Title = "Create New Project";
}

<h2>Create New Project</h2>

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    <div class=" form-group">
        <label>Name:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <div class=" form-group">
        <label>Description:</label>
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", name="newProjectName" })
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default", name = "newProjectDescription" })
}
